<!DOCTYPE html>
<html>
  <head>
    <meta property="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="language" content="french">
    <meta property="author" content="juliette petit-pas">

    <!-- Primary Meta Tags -->
    <title>Juliette Petit-Pas - Community Manager Hairstyling Specialist</title>
    <meta name="title" content="Juliette Petit-Pas - Community Manager Hairstyling Specialist">
    <meta name="description"
      content="Community Manager spécialisée dans la coiffure, je mets en avant les créations des artistes coiffeurs">
    <meta property="keywords" content="juliette, petit-pas, community manager, réseaux sociaux, coiffure">
    <meta property="image" content="https://www.juliettepetitpas.com/assets/images/profile.jpg">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.juliettepetitpas.com/">
    <meta property="og:title" content="Juliette Petit-Pas - Community Manager Hairstyling Specialist">
    <meta property="og:description"
      content="Community Manager spécialisée dans la coiffure, je mets en avant les créations des artistes coiffeurs">
    <meta property="og:image" content="https://www.juliettepetitpas.com/assets/images/profile.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.juliettepetitpas.com/">
    <meta property="twitter:title" content="Juliette Petit-Pas - Community Manager Hairstyling Specialist">
    <meta property="twitter:description"
      content="Community Manager spécialisée dans la coiffure, je mets en avant les créations des artistes coiffeurs">
    <meta property="twitter:image" content="https://www.juliettepetitpas.com/assets/images/profile.jpg">

    <!-- CSS -->
    <link href="./css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Profile -->
    <section class="bg-primary dark:bg-gray-800">
      <div class="container mx-auto px-6 py-8">
        <div class="lg:flex items-center">
          <div class="lg:w-2/3">
            <!-- SEO -->
            <h1 class="hidden">Juliette Petit-Pas - Community Manager Hairstyling Specialist</h1>

            <!-- Name -->
            <h2 class="text-gray-800 dark:text-gray-100 text-3xl font-bold font-tiemann">Juliette Petit-Pas</h2>

            <!-- Resume -->
            <p class="text-gray-800 dark:text-gray-400 mt-4">
              Community Manager <span class="font-bold">spécialisée dans la coiffure</span>, je mets en avant les créations des artistes coiffeurs.<br/>
              <span class="font-bold">Photographe et créatrice de contenus</span>, mon domaine de prédilection s’appelle Instagram !
            </p>

            <!-- Highlight -->
            <div class="flex items-center">
              <div class="flex items-center mt-4 text-gray-800 dark:text-gray-200">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z" />
                </svg>
                <p class="px-2 text-sm">petitpasjuliette@gmail.com</p>
              </div>
              <div class="flex items-center mt-4 text-gray-800 dark:text-gray-200">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z" />
                </svg>
                <p class="px-2 text-sm">Lyon, France</p>
              </div>
            </div>
          </div>

          <!-- Picture -->
          <div class="mt-8 lg:mt-0 lg:w-1/3">
            <div class="flex items-center justify-center lg:justify-end">
              <div class="max-w-lg">
                <img class="w-full h-64 object-cover object-center rounded-full shadow" src="assets/images/profile.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Work -->
    <section class="w-full p-6 mx-auto bg-primary-light dark:bg-gray-800">
      <h2 class="text-3xl py-6 font-semibold font-tiemann text-center text-gray-800 lg:text-4xl dark:text-white">
        Mes réalisations
      </h2>

      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
              
          <div class="w-full max-w-xs mx-auto text-center">
            <img class="object-cover object-center w-full h-94 mx-auto rounded-lg" src="assets/images/captation.jpg" alt="avatar" />
    
            <div class="mt-2">
              <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Prise de vue</h3>
            </div>
          </div>
    
          <div class="w-full max-w-xs mx-auto text-center">
            <img class="object-cover object-center w-full h-94 mx-auto rounded-lg" src="assets/images/post.jpg" alt="avatar" />
    
            <div class="mt-2">
              <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Story Instagram</h3>
            </div>
          </div>
    
          <div class="w-full max-w-xs mx-auto text-center">
            <video controls class="object-cover object-center w-full h-94 mx-auto rounded-lg">
              <source src="assets/videos/reel.mp4" type="video/mp4">
              Sorry, your browser doesn't support embedded videos.
          </video>
            <div class="mt-2">
              <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Reel Instagram</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills -->
    <section class="bg-primary dark:bg-gray-900">
      <h2 class="text-3xl pt-6 font-semibold font-tiemann text-center text-gray-800 lg:text-4xl dark:text-white">
        Mes compétences
      </h2>

      <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div class="flex overflow-hidden bg-primary-dark rounded-lg shadow-lg dark:bg-gray-800">
            <div class="lg:w-1/3 bg-cover"
              style="background-image: url('https://images.unsplash.com/photo-1575491825092-7431433a2cbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80')">
            </div>
            <div class="w-full lg:w-2/3 p-4 md:p-4">
              <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Création Artistique</h1>
              <p class="mt-2 text-sm text-gray-800 dark:text-gray-400">
                • Design graphique (identité de marque, support physique)<br/>
                • Création de contenus photos et vidéos (captation & montage)<br/>
              </p>
              <p class="mt-2 text-sm text-gray-800 dark:text-gray-400">
                <span class="font-bold">Logiciels</span><br/>
                • Unfold<br/>
                • Final Cut Pro<br/>
                • Suite Adobe (Photoshop, Lightroom, Illustrator)<br/>
              </p>
              <p class="mt-2 text-sm text-gray-800 dark:text-gray-400">
                <span class="font-bold">Matériel</span><br/>
                • Appareil photo : Canon EOS M50<br/>
                • Drone : DJI Mavic 2 Pro<br/>
              </p>
            </div>
          </div>

          <div class="flex overflow-hidden bg-primary-dark rounded-lg shadow-lg dark:bg-gray-800">
            <div class="lg:w-1/3 bg-cover"
              style="background-image: url('https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80')">
            </div>
            <div class="w-full lg:w-2/3 p-4 md:p-4">
              <h1 class="text-2xl font-bold text-gray-800 dark:text-white">Community Management</h1>
              <p class="mt-2 text-sm text-gray-800 dark:text-gray-400">
                • Élaboration de la stratégie social média<br/>
                • Gestion de la communauté sur les différents réseaux sociaux<br/>
                • Développement de la stratégie d'influence<br/>
                • Modération et gestion des avis clients<br/>
                • Analyse et reporting des KPI's<br/>
                &nbsp;&nbsp;→ trafic, engagement, taux de conversion, ...<br/>
              </p>
              <p class="mt-2 text-sm text-gray-800 dark:text-gray-400">
                <span class="font-bold">Logiciels</span><br/>
                • Hootsuite<br/>
                • Canva<br/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Experiences -->
    <section class="bg-primary-light text-gray-600 body-font">
      <h2 class="text-3xl py-6 font-semibold font-tiemann text-center text-gray-800 lg:text-4xl dark:text-white">
        Mon parcours
      </h2>
      <div class="container px-5 pb-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full">
          <!-- Oceane Avakian -->
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-primary pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-primary-dark inline-flex items-center justify-center text-white relative z-10">
              <svg fill="#FFF" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 -150 916 1000">
                <path d="M624 69v-49q0 -74 -47 -122t-119 -48q-78 0 -122 49t-44 131v15q0 4 1 7l1 17q-74 -53 -133 -53q-46 0 -88 31q-40 29 -59 76q-14 33 -14 66q0 101 116 154l15 7q-131 60 -131 162q0 69 48 121t114 52q60 0 119 -43l13 -10q-2 20 -2 48q0 75 47 122.5t119 47.5     q79 0 122.5 -49.5t43.5 -129.5v-39q74 53 132 53q65 0 112.5 -52.5t47.5 -120.5q0 -102 -116 -155l-15 -7q131 -60 131 -161q0 -65 -47 -119t-113.5 -54t-117.5 42zM540 238q116 -169 215 -169q41 0 74.5 37t33.5 83q0 124 -268 147v29q133 11 200.5 48t67.5 99     q0 45 -32.5 82.5t-75.5 37.5q-101 0 -215 -170l-26 15q57 116 57 196q0 124 -113 124q-54 0 -84 -33q-29 -35 -29 -88q0 -80 57 -199l-26 -15q-114 170 -215 170q-41 0 -74.5 -35.5t-33.5 -84.5q0 -124 267 -147v-29q-267 -22 -267 -147q0 -44 32 -82t76 -38q99 0 215 169     l26 -14q-57 -117 -57 -200q0 -53 29 -88q30 -33 84 -33q113 0 113 123q0 81 -57 198z"/>
              </svg>
            </div>
            <div class="flex pl-4">
              <div class="w-full pr-4">
                <h3 class="text-gray-800 dark:text-gray-100 text-2xl font-bold">Community Manager & Chargée de clientèle</h3>
                <a class="text-gray-700" href="https://oceane-avakian.com/">Océane Avakian</a>
                <div class="flex items-center -mt-3">
                  <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
                    </svg>
                    <p class="px-2 text-sm">Lyon, France</h1>
                  </div>
                  <div class="flex items-center mt-4 text-gray-800 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M426.667,51.2h-51.2V17.067C375.467,7.641,367.826,0,358.4,0s-17.067,7.641-17.067,17.067V51.2h-204.8V17.067    C136.533,7.641,128.892,0,119.467,0S102.4,7.641,102.4,17.067V51.2H51.2C22.923,51.2,0,74.123,0,102.4v324.267    c0,28.277,22.923,51.2,51.2,51.2h375.467c28.277,0,51.2-22.923,51.2-51.2V102.4C477.867,74.123,454.944,51.2,426.667,51.2z     M443.733,426.667c0,9.426-7.641,17.067-17.067,17.067H51.2c-9.426,0-17.067-7.641-17.067-17.067V204.8h409.6V426.667z     M443.733,170.667h-409.6V102.4c0-9.426,7.641-17.067,17.067-17.067h51.2v34.133c0,9.426,7.641,17.067,17.067,17.067    s17.067-7.641,17.067-17.067V85.333h204.8v34.133c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067V85.333h51.2 c9.426,0,17.067,7.641,17.067,17.067V170.667z"/>
                    </svg>
                    <p class="px-2 text-sm">septembre 2020 - Aujourd'hui</h1>
                  </div>
                </div>
                <p class="text-gray-700 mt-4">
                  Le monde de la coiffure m’ayant toujours attiré, j’ai décidé de laisser libre cours à mon côté créatif et manuel en choisissant de passer un <span class="font-bold">CAP Coiffure</span>. Me voilà donc partie pour une alternance d’un an au salon de coiffure lyonnais Océane Avakian ! J’y apprends les techniques du métier et fais la rencontre de véritables artistes du cheveu, pour qui j’ai plaisir à capturer et à mettre en valeur <span class="font-bold">le travail sur les réseaux sociaux</span>.<br/><br/>
                  
                  Une fois le diplôme en poche, l'aventure au salon a continué en <span class="font-bold">CDI</span> avec pour mission :<br/>
                  • captation de médias (photographie & vidéo)<br/>
                  • création de contenu (posts, concours, ...)<br/>
                  • montage de vidéos (stories, reels, youtube, ...)<br/>
                  • gestion de la communauté (réponse aux commentaires, questions en message privées, ...)<br/>
                  • gestion de la vie du salon (planning, logistique, gestion des commandes, ...)
                </p>
              </div>
            </div>
          </div>

          <!-- Freelancing -->
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-primary pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-primary-dark inline-flex items-center justify-center text-white relative z-10">
              <svg fill="#FFF" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 -150 916 1000">
                <path d="M624 69v-49q0 -74 -47 -122t-119 -48q-78 0 -122 49t-44 131v15q0 4 1 7l1 17q-74 -53 -133 -53q-46 0 -88 31q-40 29 -59 76q-14 33 -14 66q0 101 116 154l15 7q-131 60 -131 162q0 69 48 121t114 52q60 0 119 -43l13 -10q-2 20 -2 48q0 75 47 122.5t119 47.5     q79 0 122.5 -49.5t43.5 -129.5v-39q74 53 132 53q65 0 112.5 -52.5t47.5 -120.5q0 -102 -116 -155l-15 -7q131 -60 131 -161q0 -65 -47 -119t-113.5 -54t-117.5 42zM540 238q116 -169 215 -169q41 0 74.5 37t33.5 83q0 124 -268 147v29q133 11 200.5 48t67.5 99     q0 45 -32.5 82.5t-75.5 37.5q-101 0 -215 -170l-26 15q57 116 57 196q0 124 -113 124q-54 0 -84 -33q-29 -35 -29 -88q0 -80 57 -199l-26 -15q-114 170 -215 170q-41 0 -74.5 -35.5t-33.5 -84.5q0 -124 267 -147v-29q-267 -22 -267 -147q0 -44 32 -82t76 -38q99 0 215 169     l26 -14q-57 -117 -57 -200q0 -53 29 -88q30 -33 84 -33q113 0 113 123q0 81 -57 198z"/>
              </svg>
            </div>
            <div class="flex pl-4">
              <div class="w-full pr-4">
                <h3 class="text-gray-800 dark:text-gray-100 text-2xl font-bold">Community Manager Freelance</h3>
                <a class="text-gray-700" href="https://www.malt.fr/profile/juliettepetitpas">Malt (micro-entreprise)</a>
                <div class="flex items-center -mt-3">
                  <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
                    </svg>
                    <p class="px-2 text-sm">Lyon, France</h1>
                  </div>
                  <div class="flex items-center mt-4 text-gray-800 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M426.667,51.2h-51.2V17.067C375.467,7.641,367.826,0,358.4,0s-17.067,7.641-17.067,17.067V51.2h-204.8V17.067    C136.533,7.641,128.892,0,119.467,0S102.4,7.641,102.4,17.067V51.2H51.2C22.923,51.2,0,74.123,0,102.4v324.267    c0,28.277,22.923,51.2,51.2,51.2h375.467c28.277,0,51.2-22.923,51.2-51.2V102.4C477.867,74.123,454.944,51.2,426.667,51.2z     M443.733,426.667c0,9.426-7.641,17.067-17.067,17.067H51.2c-9.426,0-17.067-7.641-17.067-17.067V204.8h409.6V426.667z     M443.733,170.667h-409.6V102.4c0-9.426,7.641-17.067,17.067-17.067h51.2v34.133c0,9.426,7.641,17.067,17.067,17.067    s17.067-7.641,17.067-17.067V85.333h204.8v34.133c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067V85.333h51.2 c9.426,0,17.067,7.641,17.067,17.067V170.667z"/>
                    </svg>
                    <p class="px-2 text-sm">septembre 2017 - septembre 2020</h1>
                  </div>
                </div>
                <p class="text-gray-700 mt-4">
                  • <span class="font-bold">Community Manager & Créatrice de contenus</span><br/>
                  J’ai accompagné plusieurs clients dans la construction d’une stratégie de communication numérique attractive, efficace et cohérente. Cela passait par la gestion des réseaux sociaux, la création de contenus de qualité (photographie produits, rédaction de posts, montage de reels, …) et la mise en place de campagnes publicitaires.<br/>
                </p>
                <p class="text-gray-700 mt-4">
                  • <span class="font-bold">Waytwins</span> - <a class="text-blue-400" href="https://www.instagram.com/waytwins/">Instagram</a>, <a class="text-blue-400" href="https://www.youtube.com/channel/UCN3hXwsph7J7stY4Ao0sPiw">Youtube</a><br/>
                  Passionés de belles images et de voyage, nous avons décidés avec mon frère jumeau de nous associer afin de partager nos plus belles destinations !<br/>                  
                </p>
                <p class="text-gray-700 mt-4">
                  • <span class="font-bold">Blog lifestyle</span><br/>
                  Afin de partager ma passion pour les cosmétiques, j'ai créé mon propre blog pour présenter mes produits et routines quotidiennes.<br/>
                </p>
              </div>
            </div>
          </div>

          <!-- Ecole -->
          <div class="flex relative">
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-primary-dark inline-flex items-center justify-center text-white relative z-10">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
            </div>
            <div class="flex pl-4">
              <div class="w-full pr-4">
                <h3 class="text-gray-800 dark:text-gray-100 text-2xl font-bold">Formation</h3>
                <p class="text-gray-600">License Professionnelle Communication & Médiation Numérique</p>
                <div class="flex items-center -mt-3">
                  <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
                    </svg>
                    <p class="px-2 text-sm">Dijon, France</h1>
                  </div>
                  <div class="flex items-center mt-4 text-gray-800 dark:text-gray-200">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M426.667,51.2h-51.2V17.067C375.467,7.641,367.826,0,358.4,0s-17.067,7.641-17.067,17.067V51.2h-204.8V17.067    C136.533,7.641,128.892,0,119.467,0S102.4,7.641,102.4,17.067V51.2H51.2C22.923,51.2,0,74.123,0,102.4v324.267    c0,28.277,22.923,51.2,51.2,51.2h375.467c28.277,0,51.2-22.923,51.2-51.2V102.4C477.867,74.123,454.944,51.2,426.667,51.2z     M443.733,426.667c0,9.426-7.641,17.067-17.067,17.067H51.2c-9.426,0-17.067-7.641-17.067-17.067V204.8h409.6V426.667z     M443.733,170.667h-409.6V102.4c0-9.426,7.641-17.067,17.067-17.067h51.2v34.133c0,9.426,7.641,17.067,17.067,17.067    s17.067-7.641,17.067-17.067V85.333h204.8v34.133c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067V85.333h51.2 c9.426,0,17.067,7.641,17.067,17.067V170.667z"/>
                    </svg>
                    <p class="px-2 text-sm">septembre 2014 - septembre 2017</h1>
                  </div>
                </div>
                <p class="text-gray-700 mt-4">
                  Après avoir mené à bien mes deux années de <span class="font-bold">DUT Information-Communication</span>, j’ai décidé d’intégrer une <span class="font-bold">Licence professionnelle Communication et Médiation Numérique</span> pour parfaire mes connaissances et me spécialiser dans le social media management. Ces trois années post-bac m’ont permis de faire de ma passion mon métier et d’avoir plus d’une corde à mon arc en devenant <span class="font-bold">extrêmement polyvalente</span>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-primary dark:bg-gray-800">
      <div class="container mx-auto px-6 py-6">
        <div class="lg:flex">
          <div class="w-full lg:w-2/5 -mx-6">
            <div class="px-6">
              <div>
                <p class="text-2xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300 font-tiemann">Juliette Petit-Pas</p>
              </div>
              <p class="mt-2 text-gray-700 dark:text-gray-400 max-w-md">
                Community Manager - Hairstyling Specialist
              </p>
              <p class="mt-2 text-gray-500 dark:text-gray-400 max-w-md">
                #CreativeMind #PositiveThinking
              </p>
            </div>
          </div>
          <div class="mt-6 flex flex-row lg:m-0 lg:flex-1">
            <!-- Storage -->
            <div class="mx-4 lg:ml-auto">
              <h3 class="text-gray-700 dark:text-white uppercase">Hébergement</h3>
              <span class="block mt-2 text-sm text-gray-600">Github Pages</span>
              <span class="block mt-2 text-sm text-gray-600">88 Colin P Kelly Junior Street</span>
              <span class="block mt-2 text-sm text-gray-600">United States CA 94107 San Francisco</span>
            </div>
          </div>
        </div>
        
        <hr class="h-px my-6 bg-gray-400 dark:bg-gray-700 border-none">
        
        <div>
          <p class="text-center text-gray-800 dark:text-white">© Juliette Petit-Pas 2022 - Tous droits réservés</p>
        </div>
      </div>
    </footer>
  </body>
</html>