@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Tiemann';
  src: url("/assets/fonts/tiemann.ttf") format("truetype");
}

.font-tiemann {
  font-family: 'Tiemann';
}