@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/**
 * Colors
 */

$primary-color: #27509b;
$dark-color: #0d1117;
$light-color: #fff;

/**
 * Theme support
 */

:root {
  --background-color: #{$light-color};
  --color: #{$dark-color};
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$dark-color};
    --color: #{$light-color};
  }
}

body {
  background-color: var(--background-color);
  color: var(--color);
}
